{% extends "topfragmarket/pages/base.html" %} 
{% load static %} 
{% block content %}
<main class="flex flex-col min-h-screen">
    <section class="">
        <div class="container mx-auto px-5 py-10 flex flex-col">
            <h1 class="mb-5 font-bold text-3xl">
                About
            </h1>

            {% comment %} class="lg:w-4/6 mx-auto" {% endcomment %}
            <div class="w-full mx-auto">
                <div class="rounded-lg h-64 overflow-hidden">
                  <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1200x500">
                  {% comment %} <div><span class="ml text-4xl font-semibold"><span class="text-[#258f41]">TOPFRAG</span> MARKET</span></div> {% endcomment %}
                </div>
                <div class="flex flex-col sm:flex-row mt-10">
                  <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                    <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                      </svg>
                    </div>
                    <div class="flex flex-col items-center text-center justify-center">
                      <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">David Rondina</h2>
                      <div class="w-12 h-1 bg-[#258f41] rounded mt-2 mb-4"></div>
                      <p class="text-base">Web Developer; Pixel Artist</p>
                    </div>
                  </div>
                  <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                    <p class="leading-relaxed text-lg mb-4">Hi! I'm David Rondina. I made this project for my college course.<br><strong>TOPFRAG MARKET</strong> is an online marketplace project where people can buy & sell used gadgets, videogames, gaming accessories, etc. It also has a forum for users to discuss anything related to tech & gaming.</p>
                    <a href="https://github.com/davidrondina" class="text-[#258f41] inline-flex items-center">GitHub Profile
                      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
        </div>
    </section>
</main>
{% endblock %}